* {
    font-family: "Inter", sans-serif;
  }

  body {
    background-color: blue;
  }

  .buttons-container {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.left.button {
    background-color: #ff6b6b;
    color: #fff;
    border: none;
    border-radius: 4px;
}

.right.button {
    background-color: #5a67d8;
    color: #fff;
    border: none;
    border-radius: 4px;
}







/* .tabs {
    border: 1px solid yellow;
    display: flex;
}

.tabs__sidebar {
    width: 125px;
    flex-shrink: 0;
    background: gainsboro;
}

.tabs__button {
    display: block;
    padding: 10px;
    background: lightgoldenrodyellow;
    width: 100%;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.tabs__button:active {
    background: blue;
}

.tabs__button:not(:last-of-type) {
    background: wheat;
}

.tabs__button:--active {
    font-weight: bold;
    border-right: 2px solid white;
    background: green;
} 

.tabs__content {
    padding: 15px;
    font-size: 0.8rem;
    display: none;
}

.tabs__content--active {
    display: block;
} */
