* {
    font-family: "Montserrat", sans-serif;
}

body {

    background-image: url("../images/bkg.PNG");
    background-size: cover; /* Makes the image cover the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    height: 100vh;

}

.profilelayout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-right: 35%;
}

.left {
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: red;
}

.right {
    border-radius: 20px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: blue;
}

img {
    outline-style: double;
    outline-color: lightgoldenrodyellow;
    outline-width: 15px;
    border-radius: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #274380;
}

.active {
    background-color: none;
}

.tab-content {
    display: none; /* Hide all tab content by default */
}

.tab-content.active {
    display: block; /* Show the active tab content */
}

:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1440px;
  height: 985px;
  margin: 0 auto;
  background: url(../assets/images/cb123aa1-b35b-4a38-8b48-5c0d8ffae24c.png)
    no-repeat center;
  background-size: 100% 100%;
}

